*{
            text-decoration: none;
            color: #18539e;
}

.《论语》十二章:hover{font-weight: normal;}

.《劝学》:hover{font-weight: normal;}

.《屈原列传节选》:hover{font-weight: normal;}

.《谏太宗十思疏》:hover{font-weight: normal;}

.《师说》:hover{font-weight: normal;}

.《阿房宫赋》:hover{font-weight: normal;}

.《六国论》:hover{font-weight: normal;}

.《答司马谏议书》:hover{font-weight: normal;}

.《赤壁赋》:hover{font-weight: normal;}

.《项脊轩志》:hover{font-weight: normal;}

.《子路、曾皙、冉有、公西华侍坐》:hover{font-weight: normal;}

.《报任安书》节选:hover{font-weight: normal;}

.《过秦论》:hover{font-weight: normal;}

.《礼运》:hover{font-weight: normal;}

.《陈情表》:hover{font-weight: normal;}

.《归去来兮辞》（并序）:hover{font-weight: normal;}

.《种树郭橐驼传》:hover{font-weight: normal;}

.《五代史伶官传序》:hover{font-weight: normal;}

.《石钟山记》:hover{font-weight: normal;}

.《登泰山记》:hover{font-weight: normal;}

.《老子》:hover{font-weight: normal;}

.《季氏将伐颛臾》:hover{font-weight: normal;}

.《大学》:hover{font-weight: normal;}

.《孟子》:hover{font-weight: normal;}

.《逍遥游》:hover{font-weight: normal;}

.《谏逐客书》:hover{font-weight: normal;}

.《兰亭集序》:hover{font-weight: normal;}

.《滕王阁序》:hover{font-weight: normal;}

.《黄冈竹楼记》:hover{font-weight: normal;}

.《上枢密韩太尉书》:hover{font-weight: normal;}

.《静女》:hover{font-weight: normal;}

.《无衣》:hover{font-weight: normal;}

.《离骚》:hover{font-weight: normal;}

.《涉江采芙蓉》:hover{font-weight: normal;}

.《短歌行》:hover{font-weight: normal;}

.《归园田居•其一》:hover{font-weight: normal;}

.《拟行路难•其四》:hover{font-weight: normal;}

.《春江花月夜》:hover{font-weight: normal;}

.《山居秋暝》:hover{font-weight: normal;}

.《蜀道难》:hover{font-weight: normal;}

.《梦游天姥吟留别》:hover{font-weight: normal;}

.《将进酒》:hover{font-weight: normal;}

.《燕歌行》:hover{font-weight: normal;}

.《蜀相》:hover{font-weight: normal;}

.《客至》:hover{font-weight: normal;}

.《登高》:hover{font-weight: normal;}

.《登岳阳楼》:hover{font-weight: normal;}

.《琵琶行》:hover{font-weight: normal;}

.《李凭箜篌引》:hover{font-weight: normal;}

.《菩萨蛮》:hover{font-weight: normal;}

.《锦瑟》:hover{font-weight: normal;}

.《虞美人•春花秋月何时了》:hover{font-weight: normal;}

.《望海潮》:hover{font-weight: normal;}

.《桂枝香•金陵怀古》:hover{font-weight: normal;}

.《江城子•乙卯正月二十日夜记梦》:hover{font-weight: normal;}

.《念奴娇•赤壁怀古》:hover{font-weight: normal;}

.《登快阁》:hover{font-weight: normal;}

.《鹊桥仙•纤云弄巧》:hover{font-weight: normal;}

.《苏幕遮•燎沉香》:hover{font-weight: normal;}

.《声声慢》:hover{font-weight: normal;}

.《书愤》:hover{font-weight: normal;}

.《临安春雨初霁》:hover{font-weight: normal;}

.《念奴娇•过洞庭》:hover{font-weight: normal;}

.《永遇乐•京口北固亭怀古》:hover{font-weight: normal;}

.《菩萨蛮•书江西造口壁》:hover{font-weight: normal;}

.《青玉案•元夕》:hover{font-weight: normal;}

.《贺新郎•国脉微如缕》:hover{font-weight: normal;}

.《扬州慢•淮左名都》:hover{font-weight: normal;}

.《长亭送别》:hover{font-weight: normal;}

.《朝天子•咏喇叭》:hover{font-weight: normal;}